{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} {{ designation }}
{% endblock %}

{% block stylesheets %}
	<!-- Bootstrap CSS -->
	<link
	href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ asset('css/produits.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/dropdown.js')}}"></script>
	<script src="{{asset('js/getProduits.js')}}"></script>
    <script>
        const designation = "{{ designation }}";
    </script>
{% endblock %}

{% block body %}
	<!--Message en bannière-->
	<div class="banner-container">
		<div class="text-white banner-text h1 pt-3" style="text-transform: none;">Nos produits de la gamme {{designation}}
			<span class="px-2">
				<img class="svg-icon" src="https://s3-4676.nuage-peda.fr/jeux/public/images/icones/{{designation}}.svg" alt="SVG icon">
			</span>
		</div>
	</div>

	<!--Barre de recherche-->
	<div class="d-flex flex-column align-items-center justify-content-center my-4">
		<form class="py-4 w-100" id='recherche' style="width: 40%;" method="get">
			<div class="input-group">
				<input class="form-control bg-primary text-white px-3 text-center" type="text" placeholder="Minecraft, Elden Ring, GTAV..." name="search-input"/>
				<a onclick="effacerFormulaire()">
					<div class="input-group-prepend">
						<span id="backspace-btn" class="input-group-text bg-primary rounded-right">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-backspace-fill" viewbox="0 0 16 16"><path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
							</span>
						</div>
					</a>
					<script>
						function effacerFormulaire() {
							document.getElementById("recherche").reset();
						}
					</script>
				</div>
			</form>
			<div class="d-flex px-4 align-items-center">
				<div class="d-flex px-4 align-items-center">
					<div class="dropdown">
								<button id="dropdownText" class="btn btn-primary fs-bold fs-5 px-5 dropdown-toggle" style="text-transform:none;border-radius:50px; height:50px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<span>Trier par</span>
								</button>
						<ul class="dropdown-menu fs-5" style="border-radius:15px; background-color:#272727;" aria-labelledby="dropdownMenuButton1">
							<li>
								<a class="dropdown-item text-white sort-option" data-sort="asc" onclick="setDropdownText('Prix ( croissant )')" >Prix ( croissant )</a>
							</li>
							<li>
								<a class="dropdown-item text-white sort-option" data-sort="desc" onclick="setDropdownText('Prix ( décroissant )')">Prix ( décroissant )</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!---->

		<div style="margin-bottom:200px;">
			<div
				class="container my-4">
				<div
					class="row justify-content-start">
				</div>
			</div>
		</div>
		
{% endblock %}
