{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Gestion des produits
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Customs CSS -->
	<link href="{{ asset('css/gestionproduit.css') }}" rel="stylesheet"/>
	<!-- Customs SVG -->
	<link href="{{ asset('images/icones/plus.svg') }}" rel="stylesheet"/>
	<!-- Include AOS stylesheet -->
	<link href="https://cdn.jsdelivr.net/npm/aos@3.0.0-beta.6/dist/aos.css" rel="stylesheet">
	<!-- Inclure les liens vers les icônes Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block javascripts %}
	{{parent()}}
        <script src="{{asset('js/deletemodal.js')}}"> </script>
{% endblock %}

{% block body %}
	{% if searchedproduit == [] %}
		<!--Message en bannière-->
			<div class="banner-container">
				<div class="text-white banner-text fs-4">Aucuns résultats trouvés pour votre recherche :<br>" {{ recherche }} "</div>
			</div>
		<!---->
	{% else %}
		<!--Message en bannière-->
			<div class="banner-container">
				<div class="text-white banner-text fs-4">Voici les résultats liés à votre recherche :<br>" {{ recherche }} "</div>
			</div>
		<!---->
		
	{% endif %}


	<div class="container" py-2 style="margin-bottom:150px;">
		<!--Barre de recherche-->
			<div class="d-flex flex-column align-items-center justify-content-center my-4">
				<form class="w-100 py-4" style="width: 40%;" action="{{ path('admin-search') }}" method="get">
					<div class="input-group">
						<input id="search-input" class="form-control bg-primary text-white px-3 text-center" value="{{ recherche }}" type="text" placeholder="Minecraft, Carte playstation, RPG..." name="search-input" />
						<a class=" input-group-prepend" href="{{ path('admin-search') }}">
							<span id="backspace-btn" class="input-group-text bg-primary rounded-right">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
								</svg>
							</span>
						</a>
					</div>
				</form>
			</div>
		<!---->

		{% if searchedproduit != [] %}
			<!--Les cards des produits recherchées -->
				<div class="row justify-content-center">
					{% for produit in searchedproduit %}
							<div class="col-md-4 py-2 justify-content-center">
								<div class="card p-2" style="max-height:500px;">
									<!--Cercle bleu-->
									<div style="position: absolute; top:0px; right: 0px; display: flex; justify-content: center; align-items: center; width: 60px; height: 60px; border-radius: 45%; background-color: blue;">
										<a href="{{path('modifierleproduit', {'id': produit.id, 'designation': produit.designation})}}">
											<!--Icone crayon-->
											<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369 14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z"/></svg>
										</a>
									</div>
										
									<img class="card-img-top img-fluid" src="images/produits/{{produit.image}}" alt="{{ produit.designation }}" style="height: 300px; object-fit: cover;">
									<div class="card-body d-flex pb-2">
										<h4 class="card-title text-white text-decoration-none" style="font-family:Comic Sans MS; font-size:18px; text-transform:none;">{{ produit.designation }}</h4>
										<h4 class="text-white ms-auto pt-1 fs-5" style="font-family:Comic Sans MS; ">{{ produit.prix }}€<h4><br>
									</div>	
									<div class="justify-content-center d-flex">		
										<h4 class="card-title fs-6 mx-3 text-white text-decoration-none pt-2" style="text-transform:none; font-weight:bold;">Nombre de likes :</h4>
										<h4 class="text-white ms-auto mx-2 fs-5" style="font-family:Comic Sans MS;">{{ produit.nblikes }}<img src="images/icones/coeurplein.svg" style="width:30px; height:30px;"></h4>
									</div>
									<div class="card-footer justify-content-center">
										<a class="btn1 text-decoration-none deletee" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdro" data-numproduit="{{ produit.id }}" data-nomproduit="{{ produit.designation }}"><div class="py-3 text-center">Supprimer le produit</div></a>
									</div>
								</div>
							</div>
					{% endfor %}
				</div>
			<!---->
		{% else %}
			<!--La card d'ajout de produit-->	
				<div class="row justify-content-center">
					<div class="col-md-5 py-2">
						<a href="{{path('ajoutproduit')}}">
							<div class="card p-2">
								<img class="card-img-top img-fluid" src="images/icones/plus-white.svg" alt="Icône" style="height: 450px; object-fit: cover;"></img>
								
								<div class="card-footer justify-content-center" style="border-top: 7px solid black;">
									<h4 class="fs-5 py-3 text-white text-center" style="font-family: Comic Sans MS;">Ajouter un produit</h4>
								</div>
							</div>
						</a>
					</div>
				</div>
			<!---->	
		{% endif %}
	</div>

<!--Modal-->
	<div class="modal fade" id="staticBackdro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title" id="staticBackdropLabel">Supprimer un article</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div> 
				<div class="modal-body">
					<p>Etes-vous sûr(e) de vouloir supprimer le produit suivant :<br>
					<a href="" id="lienarticle" class="textlien"><span id="nomProduit"></span></a></p> 
				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success rounded-4 text-light" data-bs-dismiss="modal">Annuler</a>
					<a href="" id="lien" class="btn btn-danger rounded-4 text-light ">Confirmer</a>
				</div> 
			</div>
		</div>
	</div>
<!--Fin Modal-->

  
{% endblock %}
