{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Recherche de produit
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Customs CSS -->
	<link href="{{ asset('css/other-search.css') }}" rel="stylesheet"/>
	<!-- Customs SVG -->
	<link href="{{ asset('images/icones/plus.svg') }}" rel="stylesheet"/>
	<!-- Include AOS stylesheet -->
	<link href="https://cdn.jsdelivr.net/npm/aos@3.0.0-beta.6/dist/aos.css" rel="stylesheet">
	<!-- Inclure les liens vers les icônes Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block javascripts %}
	{{parent()}}
        <script src="{{asset('js/deletemodal.js')}}"> </script>
{% endblock %}

{% block body %}
	<!--Message en bannière-->
		<div class="banner-container">
			<div class="text-white banner-text h1 pt-3" style="text-transform: none;">Nos produits de la gamme PlayStation 
				<span class="px-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="blue" class="bi bi-playstation" viewBox="0 0 16 16">
						<path d="M15.858 11.451c-.313.395-1.079.676-1.079.676l-5.696 2.046v-1.509l4.192-1.493c.476-.17.549-.412.162-.538-.386-.127-1.085-.09-1.56.08l-2.794.984v-1.566l.161-.054s.807-.286 1.942-.412c1.135-.125 2.525.017 3.616.43 1.23.39 1.368.962 1.056 1.356ZM9.625 8.883v-3.86c0-.453-.083-.87-.508-.988-.326-.105-.528.198-.528.65v9.664l-2.606-.827V2c1.108.206 2.722.692 3.59.985 2.207.757 2.955 1.7 2.955 3.825 0 2.071-1.278 2.856-2.903 2.072Zm-8.424 3.625C-.061 12.15-.271 11.41.304 10.984c.532-.394 1.436-.69 1.436-.69l3.737-1.33v1.515l-2.69.963c-.474.17-.547.411-.161.538.386.126 1.085.09 1.56-.08l1.29-.469v1.356l-.257.043a8.454 8.454 0 0 1-4.018-.323Z"/>
					</svg>
				</span>
			</div>
		</div>
	<!---->

	<div style='margin-bottom:150px;'>
		<div class="container py-2">
			<!--Barre de recherche-->
				<div class="d-flex justify-content-center pb-5">
					<form class="py-4 w-100 text-center" style="width: 40%;" action="{{ path('search-playstation') }}" method="get">
						<span class="fs-5 text-white text-center">Voici les résultats liés à votre recherche</span>
						<div class="input-group py-3">
							<input id="search-input" class="form-control bg-primary text-white px-3 text-center" value="{{ recherche }}" type="text" placeholder="Minecraft, Carte playstation, RPG..." name="search-input" />
							<a class=" input-group-prepend" href="{{ path('search-playstation') }}">
								<span id="backspace-btn" class="input-group-text bg-primary rounded-right">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
									</svg>
								</span>
							</a>
						</div>
					</form>
				</div>
			<!---->

			{% if searchedproduit != [] %}
				<!--Les cards des produits recherchés -->
					<div class="row justify-content-center">
						{% for produit in searchedproduit %}
							<div class="col-md-4">
								<div class="item">
									<a href="{{ path('leproduit', {'id': produit.id, 'designation': produit.designation}) }}">
										<picture>
											<img class="picture" src="images/produits/{{produit.image}}" style="max-width: 100%;">
										</picture>
									</a>
									<div class="information">
										<div class="text">
											<div class="name">
												<span class="title">{{ produit.designation }}</span>
											</div>
										</div>
										<div class="price px-2">{{ produit.prix }}€</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				<!---->
			{% else %}
				<!--Le text si la recherche ne mène à rien-->	
					<div class="row justify-content-center d-flex align-items-center pt-5">
						<div class="col-md-12 text-center">
							<img class="img-fluid pt-5" src="images/icones/loupe.svg" alt="Loupe" style=" object-fit: contain;"></img>
							<h4 class="fs-4 pt-4 text-white" style="font-family: Comic Sans MS;">Désolé, aucun résultat n'a été trouvé 😦<br>Il semble que nous n'ayons aucun produit correspondant à votre recherche.</h4>
						</div>
					</div>
				<!---->	
			{% endif %}
		</div>
	</div>

{% endblock %}
