{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Recherche de produit
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- Customs CSS -->
	<link
	href="{{ asset('css/other-search.css') }}" rel="stylesheet"/>
	<!-- Customs SVG -->
	<link
	href="https://cdn.jsdelivr.net/npm/aos@3.0.0-beta.6/dist/aos.css" rel="stylesheet">
	<!-- Inclure les liens vers les icônes Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/dropdown.js')}}"></script>
{% endblock %}

{% block body %}

	<!--Message en bannière-->
		<div class="banner-container">
			<div class="text-white banner-text h1 pt-3" style="text-transform: none;">Nos produits de la gamme Xbox
				<span class="px-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="green" class="bi bi-xbox" viewBox="0 0 16 16">
						<path d="M7.202 15.967a7.987 7.987 0 0 1-3.552-1.26c-.898-.585-1.101-.826-1.101-1.306 0-.965 1.062-2.656 2.879-4.583C6.459 7.723 7.897 6.44 8.052 6.475c.302.068 2.718 2.423 3.622 3.531 1.43 1.753 2.088 3.189 1.754 3.829-.254.486-1.83 1.437-2.987 1.802-.954.301-2.207.429-3.239.33Zm-5.866-3.57C.589 11.253.212 10.127.03 8.497c-.06-.539-.038-.846.137-1.95.218-1.377 1.002-2.97 1.945-3.95.401-.417.437-.427.926-.263.595.2 1.23.638 2.213 1.528l.574.519-.313.385C4.056 6.553 2.52 9.086 1.94 10.653c-.315.852-.442 1.707-.306 2.063.091.24.007.15-.3-.319Zm13.101.195c.074-.36-.019-1.02-.238-1.687-.473-1.443-2.055-4.128-3.508-5.953l-.457-.575.494-.454c.646-.593 1.095-.948 1.58-1.25.381-.237.927-.448 1.161-.448.145 0 .654.528 1.065 1.104a8.372 8.372 0 0 1 1.343 3.102c.153.728.166 2.286.024 3.012a9.495 9.495 0 0 1-.6 1.893c-.179.393-.624 1.156-.82 1.404-.1.128-.1.127-.043-.148ZM7.335 1.952c-.67-.34-1.704-.705-2.276-.803a4.171 4.171 0 0 0-.759-.043c-.471.024-.45 0 .306-.358A7.778 7.778 0 0 1 6.47.128c.8-.169 2.306-.17 3.094-.005.85.18 1.853.552 2.418.9l.168.103-.385-.02c-.766-.038-1.88.27-3.078.853-.361.176-.676.316-.699.312a12.246 12.246 0 0 1-.654-.319Z"/>
					</svg>
				</span>
			</div>
		</div>
	<!---->
	
	<div style="margin-bottom:200px;">
		<div class="container my-4">
			<!--Barre de recherche-->
			<div class="d-flex flex-column align-items-center justify-content-center my-4">
				<form class="py-4 w-100" id='recherche' style="width: 40%;" action="{{ path('search-xbox') }}" method="get">
					<div class="input-group">
						<input class="form-control bg-primary text-white px-3 text-center" type="text" placeholder="Minecraft, Carte playstation, RPG..." name="search-input"/>

						<a onclick="effacerFormulaire()">
							<div class="input-group-prepend">
								<span id="backspace-btn" class="input-group-text bg-primary rounded-right">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-backspace-fill" viewbox="0 0 16 16"><path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
									</span>
								</div>
							</a>
							<script>
								function effacerFormulaire() {
									document.getElementById("recherche").reset();
								}
							</script>
						</div>
					</form>
					<div class="d-flex px-4 align-items-center">
						<div class="d-flex px-4 align-items-center">
							<div class="dropdown">
								<button id="dropdownText" class="btn btn-primary fs-bold fs-5 px-5 dropdown-toggle" style="text-transform:none;border-radius:50px; height:50px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<span>Trier par</span>
								</button>
								<ul class="dropdown-menu fs-5" style="border-radius:15px; background-color:#272727;" aria-labelledby="dropdownMenuButton1">
									<li>
										<a id="priceAscendingOption" class="dropdown-item text-white" href="{{path('xbox-search-by-price-asc')}}?sort=asc" onclick="setDropdownText('Prix ( croissant )')">Prix ( croissant )</a>
									</li>
									<li>
										<a id="priceDescendingOption" class="dropdown-item text-white" href="{{path('xbox-search-by-price-desc')}}?sort=desc" onclick="setDropdownText('Prix ( décroissant )')">Prix ( décroissant )</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!---->

				<div class="row justify-content-start">
					{% for produit in produits %}
						<div class="col-md-4 p-0">
							<div class="item">
								<a href="{{ path('leproduit', {'id': produit.id, 'designation': produit.designation}) }}">
									<picture>
										<img class="picture" src="images/produits/{{produit.image}}" style="max-width: 100%;">
									</picture>
								</a>
								<div class="information">
									<div class="text">
										<div class="name">
											<span class="title">{{ produit.designation }}</span>
										</div>
									</div>
									<div class="price px-2">{{ produit.prix }}€</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
